<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Sudarshan Rajagopalan
              </h1>
              <p>
                I am a second-year PhD student in the
                <a href="https://engineering.jhu.edu/vpatel36/" target="_blank">Vision and Image Understanding (VIU) Lab</a>
                at <a href="https://www.jhu.edu/" target="_blank">Johns Hopkins University</a>, advised by
                <a href="https://engineering.jhu.edu/vpatel36/team/vishalpatel/" target="_blank">Prof. Vishal Patel</a>.
                My research focuses on computer vision, specifically algorithms for image restoration.
              </p>
              <p>
                I completed my undergraduate studies at the
                <a href="https://www.mitindia.edu/" target="_blank">Madras Institute of Technology, Anna University</a>.
                I received the
                <a href="https://www.daad.in/en/" target="_blank">DAAD WISE</a> scholarship for an internship with
                <a href="https://www.professoren.tum.de/en/steinbach-eckehard" target="_blank">Prof. Eckehard Steinbach</a> at
                <a href="https://www.tum.de/en/" target="_blank">TUM</a>, Germany.
                I also worked with
                <a href="https://www.ee.iitm.ac.in/kmitra/" target="_blank">Prof. Kaushik Mitra</a> at the
                <a href="https://www.ee.iitm.ac.in/comp_photolab/" target="_blank">Computational Imaging Lab</a>,
                <a href="https://www.iitm.ac.in/" target="_blank">IIT Madras</a>, on deep learning-based image restoration problems.
              </p>

              <p style="text-align:center">
                <a target="_blank" href="sambasa2@jhu.edu"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/sudraj2002">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=SGty2eUAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/sudarshan-rajagopalan-0989a9213"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/3.jpg">
            </td>
          </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/{{post.image}}" alt="project image" style="max-width:300px; max-height:200px, padding=20px;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{ post.authors }}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">Paper</a>
              {% endif %}
              {% if post.video %}
              | <a href="{{post.video}}">Video</a>
              {% endif %}
              {% if post.code %}
              | <a href="{{post.code}}">Code</a>
              {% endif %}
              {% if post.poster %}
              | <a href="{{post.poster}}">Poster</a>
              {% endif %}
              {% if post.slides %}
              | <a href="{{post.slides}}">Slides</a>
              {% endif %}
              {% if post.website %}
              | <a href="{{post.website}}">Website</a>
              {% endif %}
              {% if post.youtube %}
              | <a href="{{post.youtube}}">Youtube</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

